server:
  port: 8085

spring:
  data:
    mongodb:
      # uri: mongodb+srv://revjobs_admin:Vishnu%40123@revjobs-cluster.lyip45g.mongodb.net/revjobs_notifications?retryWrites=true&w=majority&appName=revjobs-cluster
      uri: mongodb://localhost:27017/revjobs_notifications
  application:
    name: notification-service
  jackson:
    serialization:
      write-dates-as-timestamps: false
    time-zone: UTC
    date-format: yyyy-MM-dd'T'HH:mm:ss.SSSXXX

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true